@media(max-width:500px){    
    .register-card{
        display: none;
    }
    .navbar-collapse{
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        position: absolute !important;
        margin-left: 170px;
        margin-top: 204px;
        background: aliceblue;
        width: 55%;
        z-index: 40;
        padding-left: 5%;        
    }
    .second-nav{
        display: none !important;
    }
    .navbar{
        padding:0.5rem 1rem !important ;
    }
    .secondnav{
        display:block !important;        
    }
    .fl{
        display: flex;
        flex-direction: row;
    }
    .nav-img{
        display: none;
    }
    .navbar-toggler{
        padding: 1px 8px;
    }
    .navbar-toggler-icon{
        width: 20px;
    }            
    .dropdown .dropdown-menu{
        margin-left: 10rem !important;
        margin-top: 0.8rem !important;
    }    
    #responsive-navbar-nav-user{
        padding: 0;
        background: #FFFFFF;
        box-shadow: 2px 3px 15px #00000029;
        border-radius: 4px;
        right: 0;
        transition: none;
        margin-top: 70%;        
    }
    #responsive-navbar-nav-admin{
        padding: 0;
        background: #FFFFFF;
        box-shadow: 2px 3px 15px #00000029;
        border-radius: 4px;
        right: 0;
        transition: none;
    }
    /* .navbar-light .navbar-nav .nav-link:hover {
        background-color: #D6DEFF48;
        border-color: #5471E8;
    } */
    .dropdown-item {
        padding: 0 !important;
        padding: 2% 0 !important;
        padding-left: 5% !important; 
        text-align: left !important;
        min-width: 12rem !important;
    }    

}

.nav-hover{
    color: black;
}
.navbar-light .navbar-nav .nav-link{
    color:#2B2B2B  !important;
    border-bottom:  2px solid #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    padding:1.3rem 2rem  !important;
    white-space: nowrap;
}
.navbar-light .navbar-nav .activeLink{
    background-color: #D6DEFF48;
    color:#2B2B2B  !important;
    border-bottom:  2px solid #5471E8;
    font-size: 14px;
    font-weight: 600;
    padding:1.3rem 2rem  !important;
    white-space: nowrap;  
    text-decoration: none;  
}
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #D6DEFF48;
    border-color: #5471E8;
}
.selected{
    background-color: #D6DEFF48;
    border-bottom:  2px solid #5471E8;
    color:#2B2B2B  !important;
    font-size: 14px;
    font-weight: 600;
    padding:1.3rem 2rem  !important;
    white-space: nowrap;
}

.navbar{    
    justify-content: space-between;
    font-size: 19px;     
    z-index: 1000;   
}

.second-nav{
    display: flex;
    margin-left: 200px;
}
.secondnav{
    display: none;
}

.dropdown .dropdown-menu {
    font-size: 18px;
    box-shadow: 2px 3px 15px #00000029;
    border-radius: 4px;    
    padding: 0.5rem 0 3.5rem 0;   
    top: 3rem;
    left: -13rem;     
}

.dropdown-item {
    font-size: 15px;
    text-transform: capitalize;
    padding: .25rem 1.5rem .25rem 0;

}
